@font-face {
  font-family: "Luckiest Guy";
  src: url("./fonts/LuckiestGuy-Regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

canvas {
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Luckiest Guy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  min-height: 100vh;
  margin: 0;
  background-image: url("./../img/7.menu/menu_background.jpg");
  object-fit: cover;
  background-size: cover;
}

.headline-game-name {
  font-size: 32px;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#fullscreen {
  display: flex;
  position: relative;
}

#tryAgainButton {
  width: 30%;
  position: absolute;
  top: 80%;
  left: 36%;
  cursor: pointer;
}

#tryAgainButton:hover {
  transform: scale(1.2);
}

#startGameButton {
  width: 33%;
  position: absolute;
  top: 72%;
  left: 25%;
  padding-left: 25%;
  cursor: pointer;
}

#startGameButton:hover {
  transform: scale(1.2);
}

.informations-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  height: 85%;
  width: 90%;
  background-color: rgb(37, 48, 146);
  z-index: 999;
  margin: 5%;
  border-radius: 24px;
  box-shadow: 10px 5px 5px rgba(37, 48, 146, 0.5);
}

.informations-conten-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  gap: 24px;
}

.close-image {
  position: absolute;
  top: 24px;
  left: 24px;
  height: 5%;
  cursor: pointer;
}

.close-image:hover {
  transform: scale(1.2);
}

.flag-image {
  width: 5%;
  border-radius: 12px;
  object-fit: cover;
  cursor: pointer;
  position: absolute;
  top: 24px;
}

.flag-image:hover {
  transform: scale(1.2);
}

.german-flage-image {
  right: 80px;
}

.english-flage-image {
  right: 24px;
}

.arrow-image {
  position: absolute;
  bottom: 24px;
  height: 10%;
  cursor: pointer;
}

.arrow-image:hover {
  transform: scale(1.2);
}

.arrow-left-image {
  left: 24px;
}

.arrow-right-image {
  right: 24px;
}

.instruction-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 24px;
}

.instruction-text {
  font-size: 18px;
  color: white;
}

.arrow-key-image {
  height: 96px;
}

.space-key-image {
  width: 124px;
  height: 32px;
}

.d-g-key-image {
  height: 64px;
}

.single-key-image {
  padding-top: 18px;
  height: 48px;
}

.settingContainer {
  position: absolute;
  top: 3%;
  right: 3%;
}

.settingButton {
  height: 48px;
  padding-left: 12px;
  cursor: pointer;
}

.settingButton:hover {
  animation: tilt-shaking 1s;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(7.5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-7.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.key-mobile {
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  z-index: 998;
}

.key-mobile-img {
  opacity: 0.6;
  height: 40px;
}

.key-mobile-up {
  bottom: 52px;
  left: 60px;
}

.key-mobile-down {
  bottom: 8px;
  left: 60px;
}

.key-mobile-left {
  bottom: 8px;
  left: 16px;
}

.key-mobile-right {
  bottom: 8px;
  left: 104px;
}

.button-space-container {
  position: absolute;
  bottom: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.key-mobile-space {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 180px;
  bottom: 8px;
}

.key-mobile-g {
  bottom: 8px;
  right: 16px;
}

.key-mobile-d {
  bottom: 8px;
  right: 70px;
}
 #fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
 }
.image-turn-screen {
  position: absolute;
  height: 60%;
  width: 90%;
  background-color: rgba(0,255,255, 0.8);
  padding-top: 12px;
  border-radius: 24px;
}

.d-none {
  display: none;
}

@media (min-width: 800px) {
  .image-turn-screen {
    display: none;
  }
}

@media (min-height: 800px) {
  .key-mobile {
    display: none;
  }
}

@media (max-height: 800px) {
  .headline-game-name {
    display: none;
  }
}

@media (max-width: 600px) {
  .arrow-key-image {
    height: 60px;
  }

  .instruction-text {
    font-size: 12px;
  }

  .german-flage-image {
    right: 60px;
  }
}

@media (max-width: 400px) {
  .arrow-key-image {
    height: 40px;
  }

  .instruction-text {
    font-size: 10px;
  }

  .space-key-image {
    width: 72px;
    height: 16px;
  }

  .d-g-key-image {
    height: 32px;
  }

  .german-flage-image {
    right: 50px;
  }
}

/*Smartphones ----------*/
@media only screen and (max-width: 720px) {
  #fullscreen,
  canvas {
    width: 100%;
  }
}

/*Smartphones ----------*/
@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
    width: 100vw;
  }
}
