body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Luckiest Guy";
  font-style: normal;
  font-weight: 400;
}

canvas {
  background-color: black;
}

#tryAgainButton {
  width: 200px;
  position: fixed;
  top: 55%;
  cursor: pointer;
}

#startGameButton{
  width: 200px;
  position: fixed;
  top: 48%;
  padding-left: 250px;
  cursor: pointer;
}

.d-none {
  display: none;
}
